@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
/** container **/

.container {
    padding-left: lrem;
    padding-right: lrem;
}
.container-center{
    max-width: 600px;
    margin: auto;

}
.container-fluid{
    max-width: 600px;
    margin: auto;
}